.container {
	display: flex;
	align-items: flex-start;
}

.content-container {
	padding: 30px 40px;
	flex: 100%;
}

.navigation {
	display: flex;
	list-style: none;
	flex-direction: column;
	padding: 30px 0;
	flex: 30%;

	li {
		padding: 10px;
	}

	.active {
		font-weight: bold;
		text-decoration: underline;
	}

}

.nav-tabs {

	margin-bottom: 15px;
	> li > a {
		border: 0;

		&.active, .active:hover {
			background-color: grey;
			color: #fff;
			border: 0;
		}

	}

}

.failed-data {
	margin: 10px 0;
}

.accordion-panel {
	padding:15px 0;

	.active + div {
		display: block;
	}
}

.accordion-content-container {
	display: none;
	padding: 15px 0 0 0;
}